[Unit]
Description=Quantumx
After=network.target

[Service]
EnvironmentFile=/etc/quantumx.conf
ExecStart=/usr/local/bin/quantumx_server
User=quantumx
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
